@font-face {
    font-family: Lobster;
    src: url(../assets/Lobster-Regular.ttf);
}

@font-face {
    font-family: WorkSans-Light;
    src: url(../assets/WorkSans-Light.ttf);
}

@font-face {
    font-family: WorkSans-SemiBold;
    src: url(../assets/WorkSans-SemiBold.ttf)
}

* {
    scrollbar-color: #707070 #1f1f1f;
    scroll-behavior: smooth;
}

:root {
    --background-color: #2b2a33;
    --primary-color: #2d2c33;
    --input-bg-color: #302f3a;
    --border: #ffffff;
    --accent-color: #208bee;
    --font-color: #ffffff;
    --input-container-bg : #262529;
}


body {
    background-color: var(--background-color);
    margin: 0;
    font-family: WorkSans-Light;
}

.inputs {
    border-right: 2px solid var(--border);
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

.display {
    flex-grow: 2;
    flex-basis: 66.6%;
    height: 100%;
    overflow-y: scroll;
    color: var(--font-color);
}

.content-header {
    width: 100vw;
    height: 125px;
    background-color: var(--accent-color);
    font-family: 'Lobster';
    font-size: 40px;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-header > h1 {
    margin: auto 0 auto 0.5em;
}
.main-container {
    width: 100vw;
    height: calc(100vh - 125px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.md-48 {
    font-size: 48px;
}

.work-icon {
    margin-left: 0.5em;
}

label {
    color: var(--font-color);
    margin-right: 0;
    font-size: 1.25rem;
}

input {
    height: 3em;
    width: 20em;
    background-color: var(--input-bg-color);
    border-radius: 5px;
    border: 1px solid black;
    color: var(--font-color);
    font-size: 1.25em;
    padding-left: 0.5em;
}

input:focus {
    outline: none;
}

.input-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0.5em;
    border: 1px solid #000;
    padding: 0.75em 0.5em;
    border-radius: 5px;
    background-color: var(--input-container-bg);
}

.bad-input {
    border: 1px solid red;
}

